$colorsList: #244F75, #60BFBF, #8C4B7E, #F8BB44, #F24B4B;
$entryList: (-100%, 0, 0)(0, 100%, 0)(0, -100%, 0)(100%, 0, 0);
$secondsList: 0.1s, 0.2s, 0.3s, 0.4s, 0.5s;
$stripList: strip1, strip2, strip3, strip4, strip5;