$azul:#244F75;
$celeste:#60BFBF;
$lila:#8C4B7E;
$amarillo:#F8BB44;
$rojo:#F24B4B;
$entry1: -100%, 0, 0;
$entry2: 0, 100%, 0;
$entry3: 0, -100%, 0;
$entry4: 100%, 0, 0;
$seconds1: 0.1s;
$seconds2: 0.2s;
$seconds3: 0.3s;
$seconds4: 0.4s;
$seconds5: 0.5s;
$strip1: strip1;
$strip2: strip2;
$strip3: strip3;
$strip4: strip4;
$strip5: strip5;